# Google OAuth (mismo Client ID que remisa)
VITE_GOOGLE_CLIENT_ID=137627786866-4ptnvbujm0f0tphpvdamdivlntothqeb.apps.googleusercontent.com

# ElevenLabs TTS
VITE_ELEVENLABS_API_KEY=a1VLZRC_Sr04Q0dxGUroxgvgV3T3qIvPKQ2LcOQB
VITE_ELEVENLABS_VOICE_ID=HAnxnHtj4Z84kexw7Hvb
